
@import "tailwindcss";

body { @apply font-sans text-neutral-800; }

@layer utilities {
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none;     
  }
  .no-scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;                 
    background: transparent;
  }
}
